* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

main {
    width: 100%;
    max-width: 650px;
    margin: 10rem auto;
}

main header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}

.main-score {
    background-color: sandybrown;
    padding: 10px 20px;
    border-radius: 1rem;
    font-size: 18px;
}

#score {
    font-weight: bold;
}

#board {
    width: 400px;
    height: 400px;
    margin: 1rem auto;
    border: 6px solid gray;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.tile {
    width: 90px;
    height: 90px;
    margin: 0 auto;
    border-radius: 10px;
    font-weight: bold;
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #bbada0;
    transition: background-color 0.4s ease;
}

.x2 {
    background-color: #eee4da;
    color: #727371;
}

.x4 {
    background-color: #ece0ca;
    color: #727371;
}

.x8 {
    background-color: #f4b17a;
    color: white;
}

.x16 {
    background-color: #f59575;
    color: white;
}

.x32 {
    background-color: #f57c5f;
    color: white;
}

.x64 {
    background-color: #f65d3b;
    color: white;
}

.x128 {
    background-color: #edce71;
    color: white;
}

.x256 {
    background-color: #edcc63;
    color: white;
}

.x512 {
    background-color: #edc651;
    color: white;
}

.x1024 {
    background-color: #eec744;
    color: white;
}

.x2048 {
    background-color: #ecc230;
    color: white;
}

.x4096 {
    background-color: #fe3d3d;
    color: white;
}

.x8192 {
    background-color: #ff2020;
    color: white;
}